// --- GENERAL STYLES --- //

// --- HEADER --- //

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $offwhite;
    padding: 20px 30px;
    height: 80px;
    border-bottom: 1px solid black;
}

header img {
    height: 40px;
    margin-right: 100px;
}

.nav-menu {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: $gilroy;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .85em;
    &:hover{
        color: $liberal;
    }
}

// --- MAIN --- //

.parties {
    display: flex;
    justify-content: flex-end;
    background-color: $offwhite;
}

.col {
    width: 100%;
    min-height: 100vh;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
//    border-right: 1px solid black;
    transition: .4s ease;
    position: relative;
}

.col:nth-of-type(4) {
    border-right: none;
}

// minimize buttons //

.collapse-toggle {
    align-self: flex-end;
    margin: 25px 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
    position: relative;
    transition: .3s ease;
}

.collapse-toggle:before {
    content: ''; 
    position: absolute;
    display: block;
    width: 16px;
    border-bottom: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.collapse-toggle:hover {
    transform: rotate(180deg);
}

// expanded party columns //

.col-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.col-header > img {
    width: 65px;
    align-self: center;
    margin-bottom: 25px;
    transition: .3s ease;
}

.col-header span {
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.col-header h1 {
    text-align: center;
    font-family: $gilroy;
    font-weight: $bold;
    text-transform: capitalize;
    letter-spacing: .2em;
    font-size: 1.875em; 
}

.liberal .col-header {
    border-bottom: 1px solid $liberal;
}

.liberal .reference {
    border-top: 1px solid $liberal;
}

.conservative .col-header {
    border-bottom: 1px solid $conservative;
}

.conservative .reference  {
    border-top: 1px solid $conservative;
}

.green .col-header {
    border-bottom: 1px solid $green;
}

.green .reference {
    border-top: 1px solid $green;
}

.ndp .col-header {
    border-bottom: 1px solid $ndp;
}

.ndp .reference  {
    border-top: 1px solid $ndp;
}

// party column contents //

.contents {
    margin: 30px 0;
    border-bottom: 1px solid black;
    display: none;
}

.add-content {
    display: block;
}

.instructions-remove {
    display: none;
}

.instructions p {
    margin: 30px 0;
    color: $offwhitedark;
    font-family: $gilroy;
    letter-spacing: 1px;
    font-size: 1.05em;
    line-height: 26px;
    text-align: center;
}

.contents h2 {
    font-family: $gilroy;
    letter-spacing: 1px;
    font-size: 1.125em;
    line-height: 26px;
    text-align: center;
    margin-bottom: 15px;
}

.contents p {
    font-family: $merriweather;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: .938em;
    line-height: 24px;
    padding-bottom: 10px;
}

.remove {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.remove p {
    font-family: $gilroy;
    letter-spacing: 1px;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: $bold;
    margin-right: 10px;
}

.remove-btn{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
    position: relative;
    transition: .3s ease;
    transform: rotate(45deg);
    cursor: pointer;
}


.remove-btn:before {
    content: ''; 
    position: absolute;
    display: block;
    width: 12px;
    border-bottom: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.remove-btn:after {
    content: ''; 
    position: absolute;
    display: block;
    height: 12px;
    border-left: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.reference {
    width: 100%;
}

.reference h3 {
    font-family: $gilroy;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: bold;
    line-height: 26px;
    text-transform: capitalize;
    margin: 10px 0 0 0;
}

.reference a {
    font-family: $gilroy;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2px; 
    &:hover {
        font-weight: bold;
    }
}

.liberal .reference a {
    color: $liberal;
}

.conservative .reference a {
    color: $conservative;
}

.green .reference a {
    color: $green;
}

.ndp .reference a {
    color: $ndp;
}

// collapsed party columns //

.close-liberal {
    border-right: none;
    width: 100px;
    background-color: $liberal;
    padding: 0 15px;
    .collapse-toggle {
        border: 1px solid white;
        margin: 25px auto;
    }
    .collapse-toggle:before {
        border-bottom: 1px solid white;
    }
    .collapse-toggle:after {
        content: ''; 
        position: absolute;
        display: block;
        height: 16px;
        border-left: 1px solid white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .col-header {
        width: 60px;
    }
    .col-header > img {
        width: 60px;
    }
    .col-header > span {
        display: none;
    }
    .instructions{
        display: none;
    }
    .contents{
        display: none;
    }
    .reference{
        display: none;
    }
}

.close-conservative {
    border-right: none;
    width: 100px;
    background-color: $conservative;
    padding: 0 15px;
    .collapse-toggle {
        border: 1px solid white;
        margin: 25px auto;
    }
    .collapse-toggle:before {
        border-bottom: 1px solid white;
    }
    .collapse-toggle:after {
        content: ''; 
        position: absolute;
        display: block;
        height: 16px;
        border-left: 1px solid white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .col-header {
        width: 60px;
    }
    .col-header > img {
        width: 60px;
    }
    .col-header > span {
        display: none;
    }
    .instructions{
        display: none;
    }
    .contents{
        display: none;
    }
}

.close-green {
    border-right: none;
    width: 100px;
    background-color: $green;
    padding: 0 15px;
    .collapse-toggle {
        border: 1px solid white;
        margin: 25px auto;
    }
    .collapse-toggle:before {
        border-bottom: 1px solid white;
    }
    .collapse-toggle:after {
        content: ''; 
        position: absolute;
        display: block;
        height: 16px;
        border-left: 1px solid white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .col-header {
        width: 60px;
    }
    .col-header > img {
        width: 60px;
    }
    .col-header > span {
        display: none;
    }
    .instructions{
        display: none;
    }
    .contents{
        display: none;
    }
    .reference{
        display: none;
    }
}

.close-ndp {
    border-right: none;
    width: 100px;
    background-color: $ndp;
    padding: 0 15px;
    .collapse-toggle {
        border: 1px solid white;
        margin: 25px auto;
    }
    .collapse-toggle:before {
        border-bottom: 1px solid white;
    }
    .collapse-toggle:after {
        content: ''; 
        position: absolute;
        display: block;
        height: 16px;
        border-left: 1px solid white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .col-header {
        width: 60px;
    }
    .col-header > img {
        width: 60px;
    }
    .col-header > span {
        display: none;
    }
    .instructions{
        display: none;
    }
    .contents{
        display: none;
    }
    .reference{
        display: none;
    }
}

// policy menu //

.policy-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $offwhite;
    border-top: 1px solid black;
    overflow: hidden;
    transition: all .3s ease;
}

.close {
    height: 42px;
    transition: all .3s ease;
}

.open {
    height: 372px;
    transition: all .3s ease;
}

.policy-menu > h1 {
    display: inline-block;
    font-family: $gilroy;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .85em;
    width: 100%;
    height:43px;
    line-height: 43px;
    text-align: center;
    cursor: pointer;
}

.policy-menu > h1:hover {
    background-color: $offwhitedark;
}

.policies {
    display: flex;
    width: 100%;
    padding: 0 30px 30px 30px;
}

.policies article {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.policies article > h1 {
    font-family: $gilroy;
    text-transform: capitalize;
    font-weight: $bold;
    letter-spacing: 1px;
    font-size: 1.125em;
    padding: 15px 0;
}

.policies article li {
    font-family: $gilroy;
//    font-family: $merriweather;
//    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1em;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
} 

.policies article li:last-child {
    padding-bottom: 0px;    
}

.policies article li:hover {
    color: $liberal;
}

// --- FOOTER --- //

footer {
    height: 42px;
//    height: 60px;
//    margin-bottom: 42px;
    border-top: 1px solid black;
    background-color: $offwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: $gilroy;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .7em;
    padding: 2px 15px;
}

footer p:first-child {
    border-right: 1px solid black;
}







