// --- VARIABLES --- //

// fonts
$merriweather: Merriweather, Georgia, Times, "Times New Roman", serif;
$gilroy: Gilroy, Arial, "Helvetica Neue", Helvetica, sans-serif;
$bold: 800;

// colors
$offwhite: rgba(237, 232, 236, 1); // #ede8ec
$offwhitedark: rgba(193, 189, 189, 1); // #C1BDBD
$conservative: rgba(32, 68, 140, 1); //#20448c
$liberal: rgba(228, 36, 39, 1); //#e42427
$green: rgba(76, 165, 71, 1); //#4ca547
$ndp: rgba(234, 121, 36, 1); //#ea7924